{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "no-console": "warn",
        "quotes": ["error", "single"],
        "jsx-quotes": ["error", "prefer-double"],
        "prefer-const": "error",
        "indent": ["error", "tab"]
    }
}