{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "no-used-vars": "warn",
        "no-console": "warn",
        "quotes": ["error", "single"],
        "jsx-quotes": ["error", "prefer-single"],
        "prefer-const": "error",
        "indent": ["error", 4]
    }
}