@font-face {
	font-family: 'helveticaRegular';
	src: url(../fonts/helvetica_light.otf);
}

@font-face {
	font-family: 'NeutralFace';
	src: url(../fonts/NeutralFace.otf);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgb(214, 214, 214);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(137, 137, 137);
}

body {
	background: #F5F5F5;
	margin: 0;
	font-family: 'helveticaRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'helveticaRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}