.linkElement {
    font-weight: 500;
    color: #000;
    text-decoration: none !important;
    cursor: pointer;
}
.linkElement:active {
    color: #616161;
}
.linkElement:hover {
    color: #363636;
}