.catalogue-page {
	max-width: 1200px;
}
.products-container {
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.sort-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
}