footer {
    width: 100%;
    height: 600px;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.footer-logo {
    font-size: 70px;
    margin: 70px 0;
    font-weight: 100;
}
.footer-content {
    display: flex;
    flex-direction: row;
    margin: 0 200px;
    justify-content: space-between;
}
.footer-tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}