.button {
    font-family: 'Helvetica';
    width: fit-content;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 24px;
}
.button:hover {
    cursor: pointer;
}