.product-page {
}

.product-content {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.product-content-text {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 600px;
	padding-left: 80px;
}

.product-name {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	font-size: 50.7143px;
	line-height: 70px;
	letter-spacing: 0.02em;
}

.product-brand,
.product-type,
.product-article,
.product-price {
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.02em;
	margin: 5px 0;
	padding: 5px 0;
}

.product-brand,
.product-type,
.product-article {
	font-size: 25px;
}

.product-article {
	color: #a2a2a2;
}

.product-price {
	font-size: 50px;
	margin: 0;
}

.product-image {
	width: 400px;
	height: 400px;
}
.product-image > img {
	width: 100%;
	height: 100%;
}

.btn-container {
	margin-top: auto;
}

.product-description {
	font-family: 'Neutral Face';
	font-weight: 400;
}

.product-description-text {
	font-size: 16px;
	text-align: start;
}

.product-description-title {
	font-size: 24px;
	text-align: start;
}

.product-description-row {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.product-description-row > * {
	width: 50%;
}