header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: #000;
}

.header-logo,
.header-icon,
.header-tab {
    color: #fff;
}

.header-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.header-top {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.header-logo {
    margin-top: 15px;
    font-family: 'NeutralFace';
    font-size: 50px;
    user-select: none;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-icon {
    font-size: xx-large;
    margin-left: 20px
}

.header-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-tab {
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
}

.header-tab:hover {
    /* background-color: #f4f4f4; */
    color: #f4f4f4;
    font-weight: 600;
}

.active {
    /* background-color: #dcdcdc; */
    /* color: #dcdcdc; */
    font-weight: 600;
    color: #f5f5f5;
}