#scrollUp {
    position: fixed;
    right: 60px;
    bottom: 80px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: rgb(26, 26, 26);
    background-color: white;
    border-radius: 50%;
    transition: 300ms ease-in-out;
}