.contacts > * {
    margin: 5px;
}
.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contacts-link {
    color: black;
}
.contacts-link:hover {
    color: rgb(65, 65, 65);
}
